.acquire-skill {
  padding-top: 96px;
  padding-bottom: 0;
}

.acquire-skill__heading {
  margin: 0;
  font-weight: 900;
  text-align: center;
  font-size: 68px;
  letter-spacing: 3.4px;
  line-height: normal;
  color: $color-heading;
}

.acquire-skill__heading-text {
  margin: 0;
  font-family: "Besom";
  font-size: 180px;
  line-height: normal;
  transform: translateX(4%) translateY(-60%);
  opacity: 0.1;
  color: #32383f;
}

.acquire-skill__inner-box {
  position: relative;
  z-index: 1;
}

.acquire-skill__img {
  transform: translateX(-340px) translateY(-190px);
}

.acquire-skill__text-first {
  position: absolute;
  z-index: 1;
  max-width: 122px;
  margin: 0;
  top: calc(50% - 465px);
  right: 350px;

}

.acquire-skill__text-second {
  position: absolute;
  z-index: 1;
  max-width: 200px;
  margin: 0;
  top: calc(50% - 365px);
  right: 180px;
}

.acquire-skill__text-third {
  position: absolute;
  z-index: 1;
  max-width: 175px;
  margin: 0;
  top: calc(50% - 260px);
  right: 115px;
}

.acquire-skill__text-fifth {
  position: absolute;
  z-index: 1;
  max-width: 220px;
  margin: 0;
  top: calc(50% - 130px);
  right: 25px;
}

.acquire-skill__text-sixth {
  position: absolute;
  z-index: 1;
  max-width: 222px;
  margin: 0;
  top: calc(50% + 4px);
  right: 0;
}