.try-cta {
  padding: 129px 0 147px 0;
  background-image: url("../../img/try-cta-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.try-cta__container {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.try-cta__heading {
  max-width: 389px;
  margin: 0;
  font-family: "Besom";
  text-transform: uppercase;
  font-size: 121px;
  line-height: normal;
  margin-right: 43px;
  text-align: right;
  font-weight: 400;
  color: $color-heading;
}

.try-cta__text {
  margin: 0;
  margin-right: 78px;
  max-width: 330px;
  font-family: "Core Sans E";
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 40px;
  transform: translateY(-13px);
  letter-spacing: 2.4px;
  color: #fff;
}
